<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio perspiciatis temporibus quo alias
            neque.</p>
    </div>
</section>