<div class="jumbotron mt-4">
    <h1 class="display-4">NOTE APP</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod iusto, quam facilis veniam sint
        commodi.</p>
</div>